* {
  margin: 0;
  padding: 0;

}


.hero{
background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.6)), url("Images/team.jpg");
background-size: cover;
background-position: center;
height: 100vh;
width: 100vw;

}


.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  padding: 0 2px;
  height: 80px;
  box-shadow: 1px -1px 5px;
  position: relative;

}

.logo a{
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}


.nav-list{
  list-style: none;
  display: flex;
  justify-content: space-around;

}

.nav-list li {
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
  font-size: 1.2rem;


}



.nav-list a{
text-decoration: none;
  color: #fff;
}

.nav-list a:hover{
  transition: 1s;
  text-decoration: underline;
}

/* Home Section */


.home{
width: 100vw;
position: absolute;
text-align: center;
color: #fff;
top: 35%;



  font-family: 'Poppins', sans-serif;
}

.cta{
margin:auto;
  font-size: 30px;
}

.home p{
  margin: 15px 0;
  padding: 10px;
}

.btn {
padding: 15px 15px;
font-size: 18px;
cursor:pointer;
background-color: transparent;
color: white;
border: 3px solid;
border-radius: 10px;
}


.home .btn:hover{
  background-color: #4a4a4a;
  transition: 1s;
}

/* SSERVICES SECTION */

.services{
  height:100%;
  width: 100vw;
  background-color: #f0f0f0;
  /* background: linear-gradient(to bottom left, #FF9C9C, #D1E7FF); */
  color: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
text-align: center;
padding: 20px;
margin: 20px 80px;
height: 80%;


}

.about{
margin: 0px 0px;



}

.about h1{
font-size: 2.2rem;
margin-bottom: 20px;
color: black;
font-family: 'Roboto', sans-serif;
font-weight: 500;
}


.row{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;
  margin: 60px;
  height: 50%;



}

.col {
padding: 10px;
  cursor: pointer;
  background-color: white;
box-shadow: 0px 20px 20px rgba(0,0,0,0.5);
}


.col1{
}


.col:hover {

transform: scale(1.05);
transition: .5s;


}

.col h1{
  margin: 10px;
  color: black;
}

.col p{
  margin-bottom: 20px;
  line-height: 1.5rem;
}


.row .col .pics img{
max-width: 100px;
positon: relative;
}

/* TESTIOMONIALS */

.testimonials{
height: 100%;
width: 100vh;
background-color: #ffffff;
color: black;
position: relative;
display: flex;
justify-content: center;
align-items: center;
}











/* CONTACT PAGE */

.contact-box{
  height: auto;
  width: 100%;
  background-color: #f0f0f0;
  font-family: 'Poppins', sans-serif;
}


.contact{

  padding: 30px;
  margin: 0px 80px;
  height: auto;
  color: black;
text-align: left;
}

.contact h1{
  font-size: 2rem;
  margin-bottom: 20px;

}

.form{
  border: 3px solid #fff;
  padding: 10px;
  background-color: white;
  font-size: 1.2rem;
  width: 100%;
}
input[type="text"], [type="email"] {
  font-size: 1.1rem;
}




input[type="text"], [type="email"], select{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 3px;
  margin-bottom: 16px;
resize: vertical;
box-sizing: border-box;

}


.submit{
  margin-top: 10px;
  padding: 10px;
  width: 30%;
}

.submit:hover{
  transition: 1s;
}


/* FOOTER */
.footer{
  background-color: black;
  height: 50px;
  width: auto;
  color: white;
  text-align: center;
  padding: 60px;

}





/* BOX PAGE */

.box {
  margin: 10px;
  height: 200px;
  background-color: #f0f0f0;
  position: relative;
}

.box-content{
  padding: 20px;
}

.box-content h1{
  margin-bottom: 10px;

}

.box-content p{
  font-size: 1.2rem;
}

.back{
  position: absolute;
  bottom:2%;
  padding: 10px;
  font-size: 1.1rem;
  cursor: pointer;

}







/* MEDIA QUERY */

@media (max-width: 1080px) {

.hero { height: 75vh;

}


  .row{
    grid-template-columns: 1fr;
    padding: 0px;

  }

  .col {
    margin: 20px 0;
    background-color: #e0e0e0;
  }



}
