* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}


h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;

}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;

  margin-bottom: .25rem;
}

/* REUSABLE CLASSES */


.container {
  /* max-width: 968px; */
  margin: 0 4rem;

}

.grid {
  display: grid;
  gap: 1rem;
}

.section {
  padding: 3.5rem 0 3.5rem;
}

.section__title {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
}

.section__subtitle {
  margin-bottom: .5rem;
  font-size: 1.5rem;
  color: #5c5c5cb4;
}




/* NAVBAR */





.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  background-color: rgba(17, 17, 17, 0.911);
  z-index: 50;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  font-size: 2rem;
  margin: 0 1rem;
  padding: .25rem;
}


.nav__list {
  display: flex;
  gap: 2rem;
}

.nav__list li {
  list-style: none;
  font-size: 1.25rem;

  padding: .5rem;
  border-radius: 1rem;
}

.nav__list li:hover {
  background-color: rgb(104, 104, 104);
  transition: .5s;
}

.scroll__header {
  box-shadow: 0 .15rem .25rem rgba(209, 209, 209, 0.432);
  transition: .2s;
}







/* HOME PAGE */





.home {
  background: linear-gradient(to bottom, rgba(106, 143, 153, 0.2), rgba(54, 94, 168, 0.305)), url("./Images/team.jpg");
  background-size: cover;
  height: 92vh;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;

}

.home__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.company {
  font-size: 4rem;
}

.cta {
  font-size: 2rem;
  font-weight: 700;
  -webkit-text-fill-color: rgb(252, 252, 252);
}

.cta__little {
  font-weight: 1.5rem;
}


.cta__description {
  font-size: 1.25rem;

}


.cta__span {
  font-size: 1.75rem;
  font-weight: 500;

}

.btn {
  padding: 1rem;
  background-color: lightslategrey;
  cursor: pointer;
  border: .15rem solid rgb(126, 172, 219);
  border-radius: 2rem;
  color: #ffffff;
}

.btn:hover {
  transition: .5s;
  background-color: rgb(126, 172, 219);
}



/* ABOUT */

.about {
  display: flex;
  flex-direction: column;
  background-color: rgb(221, 242, 255);

}


.about__content {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.about__info {
  display: flex;
  flex-direction: column;
  align-items: left;
}


.about__image {}

.about__pic {
  height: 100%;
  width: 100%;
  object-fit: cover;

}










/* SERVICES */
.services {
  background: linear-gradient(to bottom, rgba(177, 238, 255, 0.5), rgba(54, 94, 168, 0.205)), url(./Images/buildings.jpg);
  background-size: cover;

}




.services__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}



.services__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.services__introTitle {
  display: flex;
  justify-content: center;
  align-items: center;

}



.check__icon {
  font-size: 2rem;
  color: rgb(0, 218, 0);
  position: relative;
  left: 1rem;

}


.services__card {
  display: flex;
  gap: 2rem;

}

.service {
  padding: 1rem;
}



.service__title {
  margin-bottom: 1rem;
}

.service__description {
  padding: 0 5rem;
  margin-bottom: 1rem;
}

.service__image {
  height: 12rem;

}

/* Contact Section */

.contact {
  display: flex;
  flex-direction: column;
  background-color: rgba(220, 242, 255);
}

.contact__form {
  margin-top: 1rem;
}

.contact__section {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}



form {
  display: flex;
  flex-direction: column;
  background-color: rgba(220, 242, 255);
  padding: 1rem;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

select {
  height: 1.5rem;
  width: 50%;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

select::placeholder {
  padding: 2rem;

}

label {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Poppins";
}

input {
  margin-bottom: 1rem;
  height: 1.5rem;
  border-radius: 2rem;
  padding: .5rem;
  border: .5px solid black;
  font-size: 1rem;
}

.submit {
  border-radius: 1rem;
  width: 10%;
  padding: .5rem;
  background-color: rgba(220, 242, 255);
  cursor: pointer;
  border: .15rem solid rgb(126, 172, 219);
  border-radius: 2rem;
  font-size: 1rem;
}

.submit:hover {
  transition: .5s;
  background-color: rgb(126, 172, 219);
}


/* FOOTER */
.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}



.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.footer__info li {
  cursor: pointer;
  margin: .25rem;
  text-decoration: underline;
}

.copywrite {
  border-top: 1px solid rgba(255, 255, 255, 0.322);
  margin-top: 2rem;
}

.copywrite p {
  margin-top: 1.5rem;
}

/* MEDIA QUERY */



@media (max-width: 1080px) {

  .hero {
    height: 75vh;

  }


  .row {
    grid-template-columns: 3fr;
    padding: 0px;

  }

  .col {
    margin: 20px 0;
    background-color: #e0e0e0;
  }

}



/* MEDIA QUERIES */
@media (min-width: 768px) {


  .swiper {
    width: 100%;
    height: 300px;

  }

}



/* WEBKIT */
::-webkit-scrollbar {
  width: .8rem;
  background-color: #c5eaff;

}

::-webkit-scrollbar-thumb {
  background-color: #1965bb69;
  border-radius: 5rem;
}

/* SWIPER CSS */
.swiper {
  width: 85%;
  height: 450px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background-color: rgba(221, 242, 255, 0.863); */
  background-color: rgba(220, 242, 255, 0.904);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}